* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
.html {
    font-size: 62.5%;
}
h1{
    display: flex;
    justify-content: center;
}
#Entrenador{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 170px;
}

.informacion {
    background-color: rgb(17, 122, 73);
    border-radius: 0.5525em;
    float: left;
    width: 22%;
    height: 270px;
    margin: 11px;
}

#principal{
    width: 100%;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;

}
li{
    display: list-item;
    text-align: center;
   display: flex;
   flex-direction: column;
   margin: 7mm;
}

.primero{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 290px;
}
.Pok{
    background-color: rgb(136, 136, 120);
    width: 22%;
    height: 270px;
}
.titulo{
    color: antiquewhite;
}
.tipo{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 20%;
    height: 21px;
}
.planta{
    background-color: chartreuse;
    border-radius: 0.5525em;
    width: 31%;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
.Electrico{
    background-color: rgb(212, 216, 6);
    border-radius: 0.5525em;
    width: 31%;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

.veneno{
    background-color: rgb(255, 0, 242);
    border-radius: 0.5525em;
    width: 31%;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
.Fuego{
    background-color: rgb(199, 7, 7);
    border-radius: 0.5525em;
    width: 31%;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
.Psiquico{
    background-color: pink;
    border-radius: 0.5525em;
    width: 31%;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
.Volador{
    background-color: rgb(0, 174, 255);
    border-radius: 0.5525em;
    width: 31%;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
.Hielo{
    background-color: rgb(0, 255, 242);
    border-radius: 0.5525em;
    width: 31%;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
.Agua{
    background-color: rgb(8, 99, 202);
    border-radius: 0.5525em;
    width: 31%;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
.Tierra{
    background-color: rgb(255, 115, 0);
    border-radius: 0.5525em;
    width: 31%;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
.Roca{
    background-color: rgb(47, 47, 51);
    border-radius: 0.5525em;
    width: 31%;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
.bicho{
    background-color: rgb(3, 150, 81);
    border-radius: 0.5525em;
    width: 31%;
    height: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
h2{
    display: flex;
    justify-content: center;
    margin: 5px;
}
.comienzo{
    margin: 1mm;
    display: flex;
    align-items: center;
    /*justify-content: center;*/
    flex-direction: column;
    background-color: rgb(136, 136, 120);
    height: 1800px;

}
.evolucion{
    margin: 100px;
    background-color:rgb(100, 184, 79) ;
    width: 50%;
    height: 950px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.Evo{
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(100, 184, 79);
    width: 22%;
    height: 20px;
}

.vol{
    width: 60%;
    height: 10px;
}
nav{
    background-color:rgb(184, 168, 168);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}
#foto{
    width: 50%;
    height: 260px;
    margin: 15px;
    display: flex;
    justify-content: center;
    margin-left: -12%;
    margin-right:-15%;
}
.encontrado{
    display: flex;
    justify-content: center;
    align-items: center;
}
